$linkBGColor: transparent;





.site-list {

    a {
        display: block;
        padding: 12px 21px;
        padding-bottom: 13px;
        font-size: 18px;
        line-height: 24px;
        color: $black;
       /* text-transform: uppercase;*/
        text-decoration: none;
        background-color: $linkBGColor;
        border-top: 1px solid $linkBorderTop;
       /* border-bottom: 1px solid $linkBorderBottom;*/
    }

    a[href] {

        &:hover {
            background-color: #755a46;
            border-top-color: #755a46;
        }

        &:active {
            color: rgba(255, 255, 255, 0.3);
            background-color: #6a4d38;
            border-top-color: #6a4d38;

        }
    }

}

.site-list__item {

    &:first-child
    /*&:last-child */{

        a {
            border-bottom: none;
            
        }
    }
}

@include respond-to(wide-screens) {

    .site-list {

        a {
            border-bottom: transparent;
           margin: auto 0;
        }
    }


}

